<%= turbo_frame_tag "main" do %>
    <%= link_to "Новое обьявление", new_user_message_path %>
    <%= button_to "Выйти", logout_path, data: { turbo_action: "destroy" } %>

    <p>✅ Содержание поста:</p>
    <p>1&nbsp;фото или альбом, текст с&nbsp;описанием лотов, который интегрирован в&nbsp;описание фото. Если он&nbsp;не&nbsp;влезает, тогда отдельным постом сразу под фото. Цена каждого лота, город хэштегом (нижнее подчеркивание вместо пробелов: #Нижний_Новгород).</p>
    <p>⚠️ Обязательно реальное фото товара. Запрещены скриншоты магазинов, а&nbsp;так&nbsp;же чужие фото аналогичного товара.  </p>
    <p>⚠️ Все элементы поста обязательны! Цену можно не&nbsp;указывать только для услуг, например 3D&nbsp;печать. </p>
    <p>⚠️ Обсуждать цену, доставку, задавать вопросы по&nbsp;товару можно только в&nbsp;личку продавцу (нажав на&nbsp;иконку пользователя).</p>
    <p>Рекомендуем к&nbsp;товарам докладывать листочек с&nbsp;написанным ником в&nbsp;чате, чтобы защитить фотографии от&nbsp;копирования мошенниками. Листок расположить так, чтобы мошенникам было сложно переправить на&nbsp;нем никнейм.</p>
    <p>✅ Выложить повторно товар (UP&nbsp;объявления) можно через 7&nbsp;дней либо цитатой, где можно указать, к&nbsp;примеру, скидку, либо создав новое объявление. </p>
    <p>⚠️Агрессивное оформление поста крайне нежелательно. Смайлики, восклицательные знаки и&nbsp;жирный шрифт используйте по&nbsp;минимуму.</p>
<% end %>
